<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.entity.ContentType">
	<cache readOnly="true" />
	<resultMap id="ContentType-resultMap" type="org.anttribe.cas.base.core.entity.ContentType">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="code" column="code" />
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.name, t.code
              FROM cas_t_core_content_type t
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND t.name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != code and null != code">
				AND t.code = #{code}
			</if>

			<!-- 校验唯一性参数 -->
			<if test="null != notId and '' != notId">
				<![CDATA[ AND t.id <> #{notId} ]]>
			</if>
			<if test="null != uniqueName and '' != uniqueName">
				AND t.name = #{uniqueName}
			</if>
			<if test="null != uniqueCode and '' != uniqueCode">
				AND t.code = #{uniqueCode}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != code and null != code">
				AND code = #{code}
			</if>
		</where>
	</sql>

	<!-- orderBy -->
	<sql id="orderBy">
	    <![CDATA[]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.ContentType">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO cas_t_core_content_type(name, code)
		        VALUES(#{name}, #{code})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO cas_t_core_content_type(id, name, code)
		        VALUES
		]]>
		<foreach collection="list" item="item" open="(" close=")"
			separator=", ">
			#{id},
			#{name},
			#{code}
		</foreach>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.ContentType">
        <![CDATA[
            UPDATE cas_t_core_content_type
        ]]>
		<set>
			<if test="null != name and name != ''">
				name = #{name},
			</if>
			<if test="null != code and code != ''">
				code = #{code},
			</if>
		</set>
		<include refid="where-no-alias"></include>
	</update>

	<!-- batchUpdate: 批量更新数据 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<![CDATA[
            UPDATE cas_t_core_content_type t
        ]]>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="name = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != name and name != ''">
						when #{item.id} then #{name}
					</if>
				</foreach>
			</trim>
			<trim prefix="code = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != code and code != ''">
						when #{item.id} then #{code}
					</if>
				</foreach>
			</trim>
		</trim>
		<![CDATA[
            WHERE id IN 
        ]]>
		<foreach collection="list" separator=", " item="item" open="("
			close=")">
			#{item.id}
		</foreach>
	</update>

	<!-- delete: 删除单条数据 -->
	<delete id="delete" parameterType="org.anttribe.cas.base.core.entity.ContentType">
	    <![CDATA[
            DELETE FROM cas_t_core_content_type
        ]]>
		<include refid="where-no-alias"></include>
	</delete>

	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="ContentType-resultMap">
		<include refid="select"></include>
		<include refid="orderBy"></include>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="ContentType-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="ContentType-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
	</select>

	<!-- queryDataCount: 根据条件查询数据条数 -->
	<select id="queryDataCount" resultType="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM cas_t_core_content_type t
        ]]>
		<include refid="where"></include>
	</select>

	<!-- queryByPagination: 根据分页条件查询数据 -->
	<select id="queryByPagination" resultMap="ContentType-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
		<include refid="limit"></include>
	</select>

</mapper>