<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.entity.Crawler">
	<cache readOnly="true" />
	<resultMap id="Crawler-resultMap" type="org.anttribe.cas.base.core.entity.Crawler">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="intervalTime" column="interval_time" />
		<result property="retryTimes" column="retry_imes" />
		<result property="timeout" column="timeout" />
		<result property="available" column="available" />
		<result property="createTime" column="create_time" />
		<result property="crawlTime" column="crawl_time" />
		<result property="state" column="state"
			javaType="org.anttribe.cas.base.core.entity.CrawlerState" />
		<association property="website"
			javaType="org.anttribe.cas.base.core.entity.Website">
			<id property="id" column="website_id" />
			<result property="siteName" column="website_name" />
		</association>
		<association property="contentType"
			javaType="org.anttribe.cas.base.core.entity.ContentType">
			<id property="id" column="content_type_id" />
			<id property="name" column="content_type_name" />
		</association>
	</resultMap>

	<resultMap id="Crawler-detail-resultMap" type="org.anttribe.cas.base.core.entity.Crawler">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="intervalTime" column="interval_time" />
		<result property="retryTimes" column="retry_imes" />
		<result property="timeout" column="timeout" />
		<result property="available" column="available" />
		<result property="createTime" column="create_time" />
		<result property="crawlTime" column="crawl_time" />
		<result property="state" column="state"
			javaType="org.anttribe.cas.base.core.entity.CrawlerState" />
		<association property="website"
			javaType="org.anttribe.cas.base.core.entity.Website">
			<id property="id" column="website_id" />
			<result property="name" column="website_name" />
		</association>
		<association property="contentType"
			javaType="org.anttribe.cas.base.core.entity.ContentType">
			<id property="id" column="content_type_id" />
			<id property="name" column="content_type_name" />
		</association>
		<collection property="regulars"
			javaType="org.anttribe.cas.base.core.entity.CrawlerContentRegular"
			ofType="java.lang.List" column="{crawler = id}" select="">
		</collection>
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.title, t.website, t.interval_time, t.retry_times, t.timeout, t.content_type, t.create_time, t.crawl_time, t.state, t.available, t1.id as website_id, t1.site_name as website_name, t2.id as content_type_id, t2.name as content_type_name
              FROM cas_t_core_crawler t
            LEFT JOIN cas_t_core_website t1 on t1.id = t.website
            LEFT JOIN cas_t_core_content_type t2 on t2.id = t.content_type
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND t.name LIKE CONCAT('%', '${name}', '%')
			</if>
			<if test="null != parent and null != parent.id">
				AND t.parent_id = #{parent.id}
			</if>
		</where>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.Crawler">
		<![CDATA[
		    INSERT INTO cas_t_core_crawler(id, title, website, interval_time, retry_times, timeout, content_type, create_time, crawl_time, state, available)
		      VALUES(#{id}, #{title}, #{website.id}, #{intervalTime}, #{retryTimes}, #{timeout}, #{contentType.id}, #{createTime}, #{crawlTime}, #{state}, #{available})
		]]>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.Crawler">
        <![CDATA[
            UPDATE cas_t_core_crawler t
        ]]>
		<set>
			<if test="null != name and name != ''">
				name = #{name},
			</if>
			<if test="null != title and title != ''">
				title = #{title},
			</if>
			<if test="null != website and website.id != ''">
				website = #{website.id},
			</if>
			<if test="null != intervalTime and intervalTime != ''">
				interval_time = #{intervalTime},
			</if>
			<if test="null != retryTimes and retryTimes != ''">
				retry_times = #{retryTimes},
			</if>
			<if test="null != timeout and timeout != ''">
				timeout = #{timeout},
			</if>
			<if test="null != contentType and contentType.id != ''">
				content_type = #{contentType.id},
			</if>
			<if test="null != crawl_time and crawl_time != ''">
				crawl_time = #{crawl_time},
			</if>
			<if test="null != state and state != ''">
				state = #{state},
			</if>
			<if test="null != available and available != ''">
				available = #{available},
			</if>
		</set>
		<![CDATA[
            WHERE id = #{id}
        ]]>
	</update>

	<!-- delete: 删除单条数据 -->
	<delete id="delete" parameterType="org.anttribe.cas.base.core.entity.Crawler">
	    <![CDATA[
            DELETE FROM cas_t_core_crawler t
        ]]>
		<include refid="where"></include>
	</delete>
	
	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="Crawler-resultMap">
		<include refid="select"></include>
		ORDER BY t.create_time
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="Crawler-detail-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="Crawler-resultMap"
		parameterType="map">
		<include refid="select"></include>
		<include refid="where"></include>
		ORDER BY t.create_time
	</select>
</mapper>