<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.dao.IContentTypeDao">
	<cache readOnly="true" />
	<resultMap id="ContentType-resultMap" type="org.anttribe.cas.base.core.entity.ContentType">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="code" column="code" />
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.name, t.code
              FROM cas_t_core_content_type t
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND t.name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != code and null != code">
				AND t.code = #{code}
			</if>

			<!-- 校验唯一性参数 -->
			<if test="null != notId and '' != notId">
				<![CDATA[ AND t.id <> #{notId} ]]>
			</if>
			<if test="null != uniqueName and '' != uniqueName">
				AND t.name = #{uniqueName}
			</if>
			<if test="null != uniqueCode and '' != uniqueCode">
				AND t.code = #{uniqueCode}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != code and null != code">
				AND code = #{code}
			</if>
		</where>
	</sql>

	<!-- order-by -->
	<sql id="order-by">
	    <![CDATA[]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.ContentType">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO cas_t_core_content_type(name, code)
		        VALUES(#{name}, #{code})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO cas_t_core_content_type(name, code)
		        VALUES
		]]>
		<foreach collection="list" item="item" separator=", ">
			(#{item.name}, #{item.code})
		</foreach>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.ContentType">
        <![CDATA[
            UPDATE cas_t_core_content_type
        ]]>
		<set>
			<if test="null != name and name != ''">
				name = #{name},
			</if>
			<if test="null != code and code != ''">
				code = #{code},
			</if>
		</set>
		<include refid="where-no-alias"></include>
	</update>


	<!-- delete: 删除数据 -->
	<delete id="delete" parameterType="Map">
	    <![CDATA[
            DELETE FROM cas_t_core_content_type
        ]]>
		<include refid="where-no-alias"></include>
	</delete>

	<!-- findAll: 查询所有数据 -->
	<select id="findAll" resultMap="ContentType-resultMap">
		<include refid="select"></include>
		<include refid="order-by"></include>
	</select>

	<!-- findById: 根据id查询单条数据 -->
	<select id="findById" resultMap="ContentType-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- find: 根据条件查询数据 -->
	<select id="find" resultMap="ContentType-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="order-by"></include>
	</select>

	<!-- count: 根据条件查询数据条数 -->
	<select id="count" resultType="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM cas_t_core_content_type t
        ]]>
		<include refid="where"></include>
	</select>

</mapper>