<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.dao.IContentAttributeDao">
	<cache readOnly="true" />
	<resultMap id="ContentAttribute-resultMap"
		type="org.anttribe.cas.base.core.entity.ContentAttribute">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="attrValueType" column="attr_value_type" />
		<association property="contentType"
			javaType="org.anttribe.cas.base.core.entity.ContentType">
			<id property="id" column="content_type_id" />
			<result property="name" column="content_type_name" />
		</association>
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.name, t.attr_value_type, t.content_type, t1.id AS content_type_id, t1.name AS content_type_name
              FROM cas_t_core_content_attr t
              LEFT JOIN cas_t_core_content_type t1 ON t1.id = t.content_type
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND t.name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != contentType and null != contentType.id">
				AND t.content_type = #{contentType.id}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != name and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="null != contentType and null != contentType.id">
				AND content_type = #{contentType.id}
			</if>
		</where>
	</sql>

	<!-- order-by -->
	<sql id="order-by">
	    <![CDATA[ ORDER BY t.id ]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.ContentAttribute">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO cas_t_core_content_attr(name, content_type, attr_value_type)
		      VALUES(#{name}, #{contentType.id}, #{attrValueType})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO cas_t_core_content_attr(name, attr_value_type, content_type)
		        VALUES
		]]>
		<foreach collection="list" item="item" separator=", ">
			(#{item.name}, #{item.attrValueType}, #{item.contentType})
		</foreach>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.ContentAttribute">
        <![CDATA[
            UPDATE cas_t_core_content_attr t
        ]]>
		<set>
			<if test="null != name and name != ''">
				name = #{name},
			</if>
			<if test="null != contentType and contentType.id != ''">
				content_type = #{contentType.id},
			</if>
		</set>
		<![CDATA[
            WHERE id = #{id}
        ]]>
	</update>

	<!-- delete: 删除单条数据 -->
	<delete id="delete" parameterType="Map">
	    <![CDATA[
            DELETE FROM cas_t_core_content_attr
        ]]>
		<include refid="where-no-alias"></include>
	</delete>

	<!-- findAll: 查询所有数据 -->
	<select id="findAll" resultMap="ContentAttribute-resultMap">
		<include refid="select"></include>
		<include refid="order-by"></include>
	</select>

	<!-- findById: 根据id查询单条数据 -->
	<select id="findById" resultMap="ContentAttribute-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- find: 根据条件查询数据 -->
	<select id="find" resultMap="ContentAttribute-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="order-by"></include>
	</select>

	<!-- count: 根据条件查询数据条数 -->
	<select id="count" resultType="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM cas_t_core_content_attr t
        ]]>
		<include refid="where"></include>
	</select>

</mapper>