<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.dao.ICrawlerRegularDao">
	<cache readOnly="true" />
	<resultMap id="CrawlerRegular-resultMap"
		type="org.anttribe.cas.base.core.entity.CrawlerRegular">
		<id property="id" column="id" />
		<result property="attrRegular" column="attr_regular" />
		<association property="crawler"
			javaType="org.anttribe.cas.base.core.entity.Crawler">
			<id property="id" column="crawler" />
		</association>
		<association property="contentAttr"
			javaType="org.anttribe.cas.base.core.entity.ContentAttribute">
			<id property="id" column="attribute_id" />
			<result property="name" column="attribute_name" />
		</association>
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.crawler, t.attr_regular, t.content_attr, t1.id as attribute_id, t1.name as attribute_name
              FROM cas_t_core_crawler_regular t
            LEFT JOIN cas_t_core_content_attr t1 on t1.id = t.content_attr
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != crawler and null != crawler.id and crawler.id != ''">
				AND t.crawler = #{crawler.id}
			</if>
			<if test="null != contentAttr and '' != contentAttr.id">
				AND t.content_attr = #{contentAttr.id}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != crawler and null != crawler.id and crawler.id != ''">
				AND crawler = #{crawler.id}
			</if>
			<if test="null != contentAttr and null != contentAttr.id">
				AND content_attr = #{contentAttr.id}
			</if>
		</where>
	</sql>

	<!-- order-by -->
	<sql id="order-by">
	    <![CDATA[]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.CrawlerRegular">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO cas_t_core_crawler_regular(crawler, attr_regular, content_attr)
		        VALUES(#{crawler.id}, #{attrRegular}, #{contentAttr.id})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO cas_t_core_crawler_regular(crawler, attr_regular, content_attr)
		        VALUES
		]]>
		<foreach collection="list" item="item" separator=", ">
			<![CDATA[
			    (#{item.crawler.id}, #{item.attrRegular}, #{item.contentAttr.id})
		    ]]>
		</foreach>
	</insert>

	<!-- update: 更新数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.CrawlerRegular">
        <![CDATA[
            UPDATE cas_t_core_crawler_regular t
        ]]>
		<set>
			<if test="null != attrRegular and attrRegular != ''">
				t.attr_regular = #{attrRegular}
			</if>
			<if test="null != contentAttr and contentAttr.id != ''">
				t.content_attr = #{contentAttr.id}
			</if>
		</set>
		<include refid="where"></include>
	</update>

	<!-- batchUpdate: 批量更新数据 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<![CDATA[
            UPDATE cas_t_core_crawler_regular t
        ]]>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="attr_regular = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != attrRegular and attrRegular != ''">
						when #{item.id} then #{attrRegular}
					</if>
				</foreach>
			</trim>
			<trim prefix="content_attr = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != contentAttr and contentAttr.id != ''">
						when #{item.id} then #{contentAttr.id}
					</if>
				</foreach>
			</trim>
		</trim>
		<![CDATA[
            WHERE id IN 
        ]]>
		<foreach collection="list" separator=", " item="item" open="("
			close=")">
			#{item.id}
		</foreach>
	</update>

	<!-- delete: 删除数据 -->
	<delete id="delete" parameterType="Map">
	    <![CDATA[
            DELETE FROM cas_t_core_crawler_regular
        ]]>
		<include refid="where-no-alias"></include>
	</delete>

	<!-- findAll: 查询所有数据 -->
	<select id="findAll" resultMap="CrawlerRegular-resultMap">
		<include refid="select"></include>
		<include refid="order-by"></include>
	</select>

	<!-- findById: 根据id查询单条数据 -->
	<select id="findById" resultMap="CrawlerRegular-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- find: 根据条件查询数据 -->
	<select id="find" resultMap="CrawlerRegular-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="order-by"></include>
	</select>

	<!-- count: 根据条件查询数据条数 -->
	<select id="count" resultType="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM cas_t_core_crawler_regular t
        ]]>
		<include refid="where"></include>
	</select>

</mapper>