<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.entity.Website">
	<cache readOnly="true" />
	<resultMap id="Website-resultMap" type="org.anttribe.cas.base.core.entity.Website">
		<result property="id" column="id" />
		<result property="siteName" column="site_name" />
		<result property="domain" column="domain" />
		<result property="logo" column="logo" />
		<result property="charset" column="charset" />
		<result property="userAgent" column="user_agent" />
		<result property="createTime" column="create_time" />
		<association property="category"
			javaType="org.anttribe.cas.base.core.entity.Category" column="{id=category_id}"
			select="org.anttribe.cas.base.core.entity.Category.queryById">
		</association>
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.site_name, t.domain, t.logo, t.charset, t.user_agent, t.category_id, t.create_time
              FROM cas_t_core_website t
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != siteName and siteName != ''">
				AND t.site_name LIKE CONCAT('%', '${siteName}', '%')
			</if>
			<if test="null != category and '' != category.id">
				AND t.category_id = #{category.id}
			</if>
			
			<!-- 校验唯一性参数 -->
			<if test="null != notId and '' != notId">
				<![CDATA[ AND t.id <> #{notId} ]]>
			</if>
			<if test="null != uniqueName and '' != uniqueName">
				AND t.site_name = #{uniqueName}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != siteName and siteName != ''">
				AND site_name LIKE CONCAT('%', '${siteName}', '%')
			</if>
			<if test="null != category and '' != category.id">
				AND category_id = #{category.id}
			</if>
		</where>
	</sql>

	<!-- orderBy -->
	<sql id="orderBy">
	    <![CDATA[]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.Website">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO cas_t_core_website(site_name, domain, logo, charset, user_agent, category_id, create_time)
		        VALUES(#{siteName}, #{domain}, #{logo}, #{charset}, #{userAgent}, #{category.id}, #{createTime})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO cas_t_core_website(id, site_name, domain, logo, charset, user_agent, category_id, create_time)
		        VALUES
		]]>
		<foreach collection="list" item="item" open="(" close=")"
			separator=", ">
			#{id},
			#{siteName},
			#{domain},
			#{logo},
			#{charset},
			#{userAgent},
			#{category.id},
			#{createTime}
		</foreach>
	</insert>

	<!-- update: 更新单条数据 -->
	<update id="update" parameterType="org.anttribe.cas.base.core.entity.Website">
        <![CDATA[
            UPDATE cas_t_core_website t
        ]]>
		<set>
			<if test="null != siteName and siteName != ''">
				t.site_name = #{siteName},
			</if>
			<if test="null != domain and domain != ''">
				t.domain = #{domain},
			</if>
			<if test="null != logo and logo != ''">
				t.logo = #{logo},
			</if>
			<if test="null != charset and charset != ''">
				t.charset = #{charset},
			</if>
			<if test="null != userAgent and userAgent != ''">
				t.user_agent = #{userAgent},
			</if>
			<if test="null != category and null != category.id and category.id != ''">
				t.category_id = #{category.id},
			</if>
		</set>
		<![CDATA[
            WHERE t.id = #{id}
        ]]>
	</update>

	<!-- batchUpdate: 批量更新数据 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<![CDATA[
            UPDATE cas_t_core_website t
        ]]>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="site_name = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != siteName and siteName != ''">
						when #{item.id} then #{siteName}
					</if>
				</foreach>
			</trim>
			<trim prefix="domain = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != domain and domain != ''">
						when #{item.id} then #{domain}
					</if>
				</foreach>
			</trim>
			<trim prefix="logo = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != logo and logo != ''">
						when #{item.id} then #{logo}
					</if>
				</foreach>
			</trim>
			<trim prefix="charset = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != charset and charset != ''">
						when #{item.id} then #{charset}
					</if>
				</foreach>
			</trim>
			<trim prefix="user_agent = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != userAgent and userAgent != ''">
						when #{item.id} then #{userAgent}
					</if>
				</foreach>
			</trim>
			<trim prefix="category_id = case id" suffix="end,">
				<foreach collection="list" item="item">
					<if test="null != category and null != category.id and category.id != ''">
						when #{item.id} then #{category.id}
					</if>
				</foreach>
			</trim>
		</trim>
		<![CDATA[
            WHERE id IN 
        ]]>
		<foreach collection="list" separator=", " item="item" open="("
			close=")">
			#{item.id}
		</foreach>
	</update>

	<!-- delete: 删除单条数据 -->
	<delete id="delete" parameterType="org.anttribe.cas.base.core.entity.Website">
	    <![CDATA[
            DELETE FROM cas_t_core_website
        ]]>
		<include refid="where-no-alias"></include>
	</delete>

	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="Website-resultMap">
		<include refid="select"></include>
		<include refid="orderBy"></include>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="Website-resultMap">
		<include refid="select"></include>
		<include refid="where"></include>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="Website-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
	</select>

	<!-- queryDataCount: 根据条件查询数据条数 -->
	<select id="queryDataCount" resultType="int" parameterType="Map">
		<![CDATA[
            SELECT COUNT(1)
              FROM cas_t_core_website t
        ]]>
		<include refid="where"></include>
	</select>

	<!-- queryByPagination: 根据分页条件查询数据 -->
	<select id="queryByPagination" resultMap="Website-resultMap"
		parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="orderBy"></include>
		<include refid="limit"></include>
	</select>

</mapper>