<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.cas.base.core.entity.Category">
	<cache readOnly="true" />
	<resultMap id="Category-resultMap" type="org.anttribe.cas.base.core.entity.Category">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="ordinal" column="ordinal" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<association property="parent"
			javaType="org.anttribe.cas.base.core.entity.Category">
			<id property="id" column="id" />
		</association>
	</resultMap>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.cas.base.core.entity.Category">
		<![CDATA[
		]]>
	</insert>

	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="Category-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="Category-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="Category-resultMap"
		parameterType="map">
		<![CDATA[
		]]>
	</select>
</mapper>