@charset "utf-8";

body { background-color: #f4f6f8; }

#sites-list .item, #article-list .item { min-height: 70px!important; padding: 10px; margin: 0 16px 10px 0; background-color: #fff; box-shadow: 0 4px 10px rgba(0,0,0,.1); }
#sites-list .item { float: left; width: 30%!important; }
#sites-list .item .logo { width: 50px; height: 50px; border-radius: 5px; }
#sites-list .item .name { margin: 0 10px; }

#article-list .item { margin: 0 0 10px 0; padding: 16px; line-height: 1.6em; }
#article-list .item .thumb { width: 165px; height: 120px; margin-right: 20px; background: no-repeat center center; background-size: cover; }
#article-list .item .metadata { }
#article-list .item .metadata a.title { color: #333333; font-size: 18px; font-weight: bold; text-decoration: none; }
#article-list .item .metadata a.title:hover { color: #3da9f7; }
#article-list .item .metadata .author { margin: 15px 0 8px; color: #aaaaaa; }
#article-list .item .metadata .brief { color: #666666; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }